

	
				<h4>NEW DIARY ENTRY </h4>

<%=form_for @diary_entry, :html => { :class =>'form-horizontal'} do |f| %>

			<% if @diary_entry.errors.any? %>


			<div class="alert alert-error">

<div id ="error_explanation">

				
			<% @diary_entry.errors.full_messages.each do |error| %>

				<ol> <span class="label label-important">Important</span> <%= error %> </ol>
		
			<% end %>
		</div>
		</div>
		<% end %>


	<div class="control-group">
		<%= f.label :title, :class => 'control-label' %> 
		<div class ="controls">
			<%= f.text_field :title , :class =>'text_field'%> 
		</div>
	</div>

	<div class="control-group">
		<%= f.label :description, :class => 'control-label' %>  
		<div class ="controls">
			 <%= f.text_area :description, :class => 'text_area', :rows=>'6' %> 
		</div>
	</div>

	<div class="control-group">
			<%= f.label :mood, :class => 'control-label' %> 
		<div class ="controls">
			 <%= f.select :mood, ['Happy', 'Sad', 'Sappy'], :class =>'select' %> 
		</div>
	</div>

 <div class="form-actions">
    	<%= f.submit "Submit" , class: "btn btn-large btn-primary" %>

    </div>


			<% end %>	

	</body>
</html>