
<!DOCTYPE html>
<html lang="en">

<body>

<div class="container">
	<h1>DIARY ENTRIES</h1>

<table class="table table-bordered">

    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Mood</th>
    </tr>
 
<% @diary_entries.each do |d| %>
	<tr>
		<td> <%= d.title %> </td>
		<td> <%= d.description %></td>
		<td><div style="color: <%= d.happy? %>"><%= d.mood %></div></td>
		<td> <%=link_to 'Show', d %> </td>
		<td><%= link_to 'Edit', edit_diary_entry_path(d) %></td>
        <td><%= link_to 'Destroy', d, method: :delete, data: { confirm: 'Are you sure?' } %></td>

	</tr>
<%end%>

</table>

<p>
	<%=link_to 'New Diary Entry',new_diary_entry_path, class: "btn btn-large btn-primary" %>
</p>

</div>


</body>
</html>