

<table>
	<% @diary_entries.each do |d| %>
<tr>
	<td> <%= d.title %> </td>
	<td> <%= d.description %> </td>



	<td><div style="color: <%= d.happy? %>"><%= d.mood %></div></td>
</tr>
<%end%>



</table>

<%=link_to 'New Diary Entry', new_diary_entry_path %>