
	<h2>DIARY ENTRIES</h2>

<table class="table table-striped">
<thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Mood</th>
      <th>Actions</th>
    </tr>
 </thead>
 <tbody>
<% @diary_entries.each do |d| %>
	<tr>
		<td> <%= d.title %> </td>
		<td> <%= d.description %></td>
		<td><div style="color: <%= d.happy? %>"><%= d.mood %></div></td>
	
<td>   <%=link_to 'Show', d, :class => 'btn btn-small' %> </td>
<td>   <%= link_to 'Edit', edit_diary_entry_path(d),  :class => 'btn btn-small'  %> </td>

<td>   <%= link_to 'Destroy', d, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-small'  %> </td>


	</tr>


<%end%>
</tbody>

</table>

<p>
	<%=link_to 'New Diary Entry',new_diary_entry_path, class: "btn btn-large btn-primary" %>
</p>



</body>
</html>