
<!DOCTYPE html>
<html lang="en">
	<body>
		<div class="container">
			<h3>NEW DIARY ENTRY </h3>

			<%=form_for(@diary_entry) do |f| %>
				<%= f.label :title %> 
				<%= f.text_field :title 	%>

				<%= f.label :description %> 
				<%= f.text_area :description%>

				<%= f.label :mood %> 
				<%= f.select :mood, ['Happy', 'Sad', 'Sappy'] %>
  
					<p>
						<%= f.submit "Submit" , class: "btn btn-large btn-primary" %>
					</p>
		</div>

			<% end %>	

	</body>
</html>