	<div class="hero-unit">
  <h1>Remember?</h1>
  
</div>	
<p>
  <b>Title:</b>
  <%= @diary_entry.title %>
</p>


<p>
  <b>Description:</b>
<%= @diary_entry.description %>
</p>

<p>
  <b>Mood:</b>
	<%= @diary_entry.mood %>
	</p>

	<p>
  <b>Updated:</b>
	<%= time_ago_in_words(@diary_entry.updated_at, include_seconds = false)  %> ago

	</p>

<div class="form-actions">
	<div class="span8">
		<%= link_to 'Edit', edit_diary_entry_path(@diary_entry), :class => 'btn btn-small'%> |
		<%= link_to 'Cancel', diary_entries_path, :class => 'btn btn-small' %>
	</div>
</html>


