<!DOCTYPE html>
<html lang="en">
	<body>

		
<p>
  <b>Title:</b>
  <%= @diary_entry.title %>
</p>


<p>
  <b>Description:</b>
<%= @diary_entry.description %>
</p>

<p>
  <b>Mood:</b>
	<%= @diary_entry.mood %>

	</p>

<%= link_to 'Edit', edit_diary_entry_path(@diary_entry), :class => 'btn btn-small'%> |
<%= link_to 'Back', diary_entries_path, :class => 'btn btn-small' %>

</body>
</html>